.container {
	justify-self: center;
	align-self: center;
}

input {
	padding: 1rem;
	min-width: 20rem;
	border-radius: 0.25rem;
	box-shadow: 2px 2px 4px 0px rgba(230, 230, 230, 1);
	font-size: 1rem;
	border: none;
}

input::placeholder {
	color: lightgrey;
}
